@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--background-color);
}

body.dark-mode {
  background-color: var(--background-color-dark, #202c36);
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.border-radius {
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 0px 2px 4px 0px var(--box-shadow-header);
}

.background-color {
  background-color: var(--background-color);
}

/*? <----------------- Header --------------------> */

.top-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}

body.dark-mode .top-bar {
  background-color: var(--header-color-dark, #2b3844);
}

.top-bar h1 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 800;
}

body.dark-mode .top-bar h1 {
  color: var(--white);
}

.theme {
  display: flex;
  gap: 5px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

body.dark-mode .theme {
  color: var(--white);
}

.navigate-section-container {
  margin: 60px 0;
}

.link-back {
  width: 110px;
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  background-color: var(--white);
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px; /* 125% */
  cursor: pointer;
  align-items: center;
}

body.dark-mode .link-back {
  background-color: var(--header-color-dark, #2b3844);
  color: var(--white, #fff);
}

body.dark-mode .link-back > i {
  color: var(--white, #fff);
}

section:nth-child(2) {
  display: flex;
  gap: 10%;
}

.country-content {
  padding: 40px;
  width: 50%;
}

.country-content > h2 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

body.dark-mode .country-content > h2 {
  color: var(--white, #fff);
}

.country-flag {
  width: 600px;
}

.country-flag > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.country-details {
  display: flex;
  gap: 150px;
}

.country-details b {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

body.dark-mode .country-details b {
  color: var(--white, #fff);
}

body.dark-mode .country-details span {
  color: var(--white, #fff);
}

.country-border {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  margin-top: 70px;
}

.country-border > div:first-child {
  font-weight: 700;
}

body.dark-mode .country-border > div:first-child {
  color: var(--white, #fff);
}

.country-border > div:nth-child(2) {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.country-border > div:nth-child(2) > div {
  background-color: var(--white);
  padding: 3px 10px;
  box-shadow: 0px 0px 4px 1px var(--box-shadow-country-border);
  border-radius: 3px;
  cursor: pointer;
}

body.dark-mode .country-border > div:nth-child(2) > div {
  background-color: var(--header-color-dark, #2b3844);
  color: var(--white, #fff);
}

/*? ---------------------- Media Screen -------------------- */

@media (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  section:nth-child(2) {
    flex-wrap: wrap;
  }

  .country-content {
    width: 50%;
    padding: 0;
  }
  .country-content > h2 {
    font-size: 22px;
    margin-top: 20px;
    white-space: nowrap;
  }
  .country-details {
    flex-direction: column;
    gap: 30px;
  }

  .country-border {
    margin: 35px 0;
    flex-wrap: wrap;
    gap: 15px;
  }
  .country-border > div:nth-child(2) {
    flex-wrap: nowrap;
  }
}
