@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: var(--background-color);
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.border-radius {
  border-radius: 5px;
}

.box-shadow {
  box-shadow: 0px 2px 4px 0px var(--box-shadow-header);
}

.background-color {
  background-color: var(--background-color);
}

/*? <----------------- Header --------------------> */

.top-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
}

.top-bar h1 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 800;
}

.theme {
  display: flex;
  gap: 5px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/*? <------------------ Main ------------------> */

/* * <------- Section 1 -------> */
.search-filter {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.search-bar {
  position: relative;
}
.search-bar .search-icon {
  position: absolute;
  margin: 15px 0 15px 25px;
}

.search-bar {
  width: 35%;
}

.search-filter .search-bar input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  padding: 0 5px 0 60px;
  color: var(--input-placeholder);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.filter-select {
  width: 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: #fff;
  padding: 14px 22px 14px 22px;
  cursor: pointer;
}

.filter-select > span::selection {
  background-color: transparent;
}

.filter-select__img {
  transform: rotate(-180deg);
}

.rotate {
  transform: rotate(180deg);
}

.filter-options {
  background-color: var(--white);
  margin-top: 5px;
  display: none;
  position: absolute;
  width: 200px;
}

.active {
  display: block;
}

.filter-option {
  padding: 5px 22px;
  cursor: pointer;
}

/* * <------- Section 2 -------> */

.card-container {
  display: flex;
  gap: 75px;
  flex-wrap: wrap;
}

.card {
  width: 276px;
  background-color: var(--white);
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}

.card-img {
  width: 276px;
  height: 160px;
}

.card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 24px 24px 40px 24px;
}

.card-body > h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px; /* 144.444% */
  margin-bottom: 16px;
}
.card-body > p {
  margin-bottom: 5px;
}

.card-body > p > span {
  font-weight: 600;
  line-height: 16px;
}

/*? ---------------------- Media Screen -------------------- */

@media (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .search-filter {
    flex-wrap: wrap;
  }
  .search-bar {
    width: 100%;
    margin-bottom: 40px;
  }
  .card-container {
    justify-content: center;
  }
}

